.topBar ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.topBar li {
  display: inline;
  margin: 5px;
  padding: 10px;
  letter-spacing: 0.1em;
}

.topBar li,
.topBar a {
  text-decoration: none;
  color: #90f6d7;
}

.topBar a:visited,
.topBar li:visited {
  color: #35bcbf;
}

.topBar li:hover {
  background-color: #41506b;
}

.topBar {
  display: flex;
  flex-direction: row-reverse;
  background-color: #263849;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}