ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

li {
  display: inline;
  margin: 5px;
  padding: 10px;
}

.topBar li,
.topBar a {
  color: #90f6d7;
}

.topBar a:visited,
.topBar li:visited {
  color: #35bcbf;
}

li:hover {
  background-color: #41506b;
}

.topBar {
  display: flex;
  flex-direction: row-reverse;
  background-color: #263849;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
}